
<html>
    <head>
        <title>Hotify</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="font-family: sans-serif;font-weight: bold;font-size:35px;background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0HTWnb_j0VBs7mee3qU86m0hL1UGZ5jRemsdLCILHeUL26fez&s');background-size: cover;background-repeat: no-repeat;height: 100vh;">


                   
                      <h2 style="color: white;font-weight: bold;font-size:50px; margin-top: 5%; margin-left: 3%;"> Purchase this song</h2> 
                      <% var i=Math.floor(Math.random()*150); %>
                      <h2 style="color: #ffff4d;font-weight: bold;font-size:30px; margin-left: 3%;"> Only for $ <%= i %> </h2> 
                      <hr> 
                      
                      <p style="font-size: 40px; color: white;margin-left: 3%;">Confirm to proceed for the payment..</p>
                      <a href="/bu"> 
                      <button class="btn btn-primary btn-lg" style="color: white; margin-left: 3%;"> Buy now for $ <%= i %> </button> 
                      </a> 
                    
                 
              
 </body>
 </html>
              