<!DOCTYPE html>
<html>
    <head>
        <title>Hotify</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style= "background-image: url('http://getwallpapers.com/wallpaper/full/1/3/d/504382.jpg'); background-size: cover;background-repeat: no-repeat;height: 100vh;">
        <h1 style="text-align: center;padding-top: 5%;font-size: 60px; color: #ffff99;">Welcome to Hotify!!</h1>
    </br>
    <h2 style="text-align: center;padding-top: 3%;color: white;">Please Register To Continue</h2>
</br>
        <div class="container" style="height: 40%;width: 50%;">
        <form action="/register" method="POST"> 
            <div class="form-group" >
              <label for="exampleInputEmail1">UserName</label>
              <input type="text" class="form-control"  name="username" placeholder="UserName">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
           <button type="submit" class="btn btn-primary" >Submit</button>
          </form>
        </div>
   

    </body>
</html>